<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Lucky Shrub</title>
        <!-- Open Graph Protocol meta tags -->
        <meta property="og:title" content="Lucky Shrub" />
        <meta property="og:type" content="website" />
        <!-- <meta property="og:url" content="https://www.example.com/" /> -->
        <meta
            property="og:image"
            content="../assets/images/main-image-sm.jpg"
        />
        <meta
            property="og:description"
            content="We specialize in garden design and creation, just for you"
        />
        <meta property="og:locale" content="en_US" />
        <meta property="og:site_name" content="Lucky Shrub" />
        <!-- End Open Graph Protocol meta tags -->
        <link rel="stylesheet" href="../assets/css/normalize.css" />
        <link rel="stylesheet" href="../assets/css/index.css" />
    </head>
    <body>
        <header>
            <img src="../assets/logos/logo-2.png" alt="Lucky Shrub Logo" />
        </header>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="products.html">Products</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="products.html">Info</a></li>
            </ul>
        </nav>
        <footer>
            <div>
                <img
                    src="../assets/logos/footer-2.svg"
                    alt="Lucky Shrub Logo"
                />
            </div>
            <div>
                <p>
                    &copy; 2024<a href="https://github.com/rustyff12"
                        >Russell Frankpitt</a
                    >
                </p>
            </div>
        </footer>
    </body>
</html>
