:root {
    --clr-black: #262626;
    --clr-red: #b53434;
    --clr-blue: #26877f;
    --clr-yellow: #ec9a29;
    --clr-white: #ede7f1;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    cursor: pointer;
}

.main-content img:hover {
    cursor: pointer;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}

/* Header */
header {
    border-bottom: 4px solid var(--clr-blue);
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    height: 23svh;
    background: var(--clr-white);
    width: 100%;
}

header img {
    width: 50px;
}

.navbar-mobile {
    position: absolute;
    top: 23svh;
    right: 0;
    transform: translateX(100%);
    height: 78svh;
    width: 0;
    transition: transform 1s ease, width 1s ease;
    background: var(--clr-white);
    z-index: 2;
}

.navbar-mobile.show {
    transform: translateX(0%);
    width: 100%;
}

.navbar-mobile ul {
    height: 78svh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    display: none;
}

.navbar-mobile a {
    text-decoration: none;
    color: var(--clr-blue);
    font-size: 1.5rem;
    font-weight: 700;
}

.navbar-mobile a:visited {
    color: var(--clr-blue);
}

.navbar-mobile a:hover {
    text-decoration: none;
    color: var(--clr-red);
}

.navbar-large-screen {
    display: none;
}

.hamburger {
    position: absolute;
    right: 1.5rem;
}

.hamburger i {
    font-size: 2rem;
    color: var(--clr-blue);
}
/* Main */
.hero {
    position: relative;
    height: 100svh;
    width: 100svw;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.hero-background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/garden-store-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: contrast(120%);
}

.hero-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 1;
    color: white;
}

.hero h1,
.hero p {
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 1);
    color: var(--clr-white);
}

.hero h1 {
    font-weight: 900;
    font-size: 3rem;
}

.hero p {
    font-size: 1.5rems;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    background: var(--clr-white);
}

.main-content {
    display: flex;
    flex-direction: column;
}

.main-content article {
    display: flex;
    flex-direction: column;
}

.main-content article h3 {
    padding: 10rem 1rem;
    font-size: 2rem;
    background-color: var(--clr-blue);
    color: var(--clr-white);
    text-align: center;
}

.main-content article img {
    width: 100svw;
}

.main-content article p {
    padding: 5rem 1rem;
    font-size: 1.5rem;
    text-align: center;
}
.main-content article a,
.main-content article a:visited {
    text-decoration: none;
    color: var(--clr-black);
}
.main-content article a:hover {
    color: var(--clr-red);
}
/* Footer */

footer {
    display: flex;
    flex-direction: column;
    border-top: 4px solid var(--clr-blue);
    text-align: center;
}

footer img {
    width: 150px;
    height: 15svh;
}

footer p {
    border-top: 4px solid var(--clr-blue);
    height: 15svh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a,
footer a:visited {
    color: var(--clr-black);
    text-decoration: none;
    font-weight: 700;
}

footer a:hover {
    color: var(--clr-blue);
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    .info {
        font-size: 1.125rem;
    }
}

@media screen and (min-width: 992px) {
    /* Header */
    .hamburger {
        display: none;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 3rem;
        gap: 1rem;
        height: 100%;
    }

    .navbar-large-screen {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        width: 100%;
        max-width: 1200px;
    }

    .navbar-large-screen ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        list-style: none;
        gap: 1rem;
    }

    .navbar-large-screen a {
        text-decoration: none;
        color: var(--clr-blue);
        font-size: 2rem;
        font-weight: 700;
        transition: color 1s linear, text-shadow 1s linear;
    }

    .navbar-large-screen a:visited {
        color: var(--clr-blue);
    }

    .navbar-large-screen a:hover {
        text-decoration: underline;
        color: var(--clr-red);
        text-shadow: 2px 2px 4px #b53434e6;
    }

    /* Body */
    .hero h1 {
        font-size: 5rem;
    }

    .hero p {
        font-size: 2rem;
        font-weight: 700;
    }

    .info {
        flex-direction: row;
        padding: 8rem 2rem 2rem 2rem;
    }

    .main-content {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: space-between;
        padding: 10rem 2rem;
        background-color: var(--clr-white);
    }

    .main-content article {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        background-color: #b53434;
        border-radius: 20px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1),
            8px 32px 32px rgba(0, 0, 0, 0.4), 8px 64px 64px rgba(0, 0, 0, 0.5);
    }

    .main-content article h3 {
        padding: 1rem;
        font-size: 1.5rem;
        background-color: var(--clr-blue);
        color: var(--clr-white);
        text-align: center;
        grid-column: 1 / -1;
    }

    .main-content article img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        border-bottom-left-radius: 20px;
    }

    .main-content article p {
        padding: 1rem;
        font-size: 1rem;
        text-align: center;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        align-self: center;
    }
    .main-content article a,
    .main-content article a:visited {
        font-weight: 700;
        color: var(--clr-white);
    }
    .main-content article a:hover {
        color: var(--clr-black);
    }

    /* Footer */
    footer {
        flex-direction: row;
        border-top: 4px solid var(--clr-blue);
        text-align: center;
        justify-content: space-around;
        padding: 1rem 3rem;
    }

    footer img {
        width: 150px;
        height: 15svh;
    }

    footer p {
        border-top: none;
        height: 15svh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
